@import "~@material/typography/mdc-typography";

.mdc-expansion-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .mdc-expansion-panel__summary {
    padding: 0 32px 0 16px;
    height: 48px;
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mdc-expansion-panel__summary:hover {
    background-color: rgba(0,0,0,0.04);
  }
  .mdc-expansion-panel__summary:after {
    font-family: "Material Icons", monospace;
    font-size: 20px;
    content: "expand_less";
    color: rgba(0,0,0,0.87);
    position: absolute;
    top: calc(50% - 10px);
    right: 16px;
  }
}
.mdc-expansion-panel[aria-expanded="false"] {
  .mdc-expansion-panel__details {
    display: none;
  }
  .mdc-expansion-panel__summary:after {
    content: "expand_more";
  }
}
