@use "functions";

#basics {

  .basics-card {

    .mdc-chip-set {
      width: 100%;
      justify-content: center;
    }

    .mdc-card__content {
      text-align: justify;
    }

    .mdc-card__actions {
      flex-wrap: wrap;
    }

  }
}
