@import "~@material/typography/mdc-typography";
@import "functions";
@import "my-theme";

/**
 * View filters
 */
@media not print {
  .just-print {
    display: none !important;
  }
}

@media not screen {
  .just-screen {
    display: none !important;
  }
}

/**
 * Material Typography
 */
h1 {
  @include mdc-typography("headline1");
}

h2 {
  @include mdc-typography("headline2");
}

h3 {
  @include mdc-typography("headline3");
}

h4 {
  @include mdc-typography("headline4");
}

h5 {
  @include mdc-typography("headline5");
}

h6 {
  @include mdc-typography("headline6");
}

/**
 * Material Cards
 */
.mdc-card {

  // Primary action clickable
  > a {
    color: initial;
    text-decoration: none;
  }

  .mdc-card__header--padded {
    padding: 16px;
  }

  .mdc-card__header {

    display: flex;
    flex-direction: row;

    .mdc-card__media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 16px;
    }

    .mdc-card__media--circle > img {
      @include mdc-card-media-circle();
    }

    .mdc-card__media--circle--big > img {
      @include mdc-card-media-circle(96px);
    }

    .mdc-card__media--circle--small > img {
      @include mdc-card-media-circle(48px);
    }

    .mdc-card__header-texts {

      display: flex;
      flex-direction: column;
      justify-content: center;

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }

      .mdc-typography--subtitle1 {
        color: rgba(0, 0, 0, 0.6);
      }

      .mdc-typography--subtitle2 {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  p {
    margin: 0;
  }

  .mdc-card__content--padded {
    padding: 8px 16px 8px 16px;
  }

  .mdc-card__feature {

    display: flex;
    flex-direction: row;

    .mdc-card__feature--icon {
      font-family: 'Material Icons', monospace;
      font-style: normal;
      margin-right: 8px;
    }

    .mdc-card__feature--text {
    }
  }

  ul.mdc-card__list {
    list-style: none;
    margin: 0;
  }

  .mdc-card__action-buttons {
    color: rgba(0, 0, 0, 0.6);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .mdc-card__action-icons {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

}

/**
 * Chips
 */
.mdc-chip {
  // SVG inside the chip icon
  .mdc-chip__icon--fontawesome.mdc-chip__icon--leading {
    margin-left: 0;
    margin-right: 0;

    > svg {
      height: 17.5px;
      width: 17.5px;
    }
  }
}

/**
 * Material Chips
 */
.mdc-chip > a {
  text-decoration: none;
  color: inherit;
}

/**
 * Level star rating
 */
.level-stars {
  color: $stars-color;
}
