@use "~@material/typography/mdc-typography.import";
@use "functions";
@use "my-theme";

/**
 * Material Cards
 */
.mdc-card {

  @media print {
    page-break-inside: avoid;
    height: 100%;
  }

  // Primary action clickable
  > a {
    color: initial;
    text-decoration: none;
  }

  .mdc-card__header--padded {
    padding: 16px;
  }

  .mdc-card__header {

    display: flex;
    flex-direction: row;

    .mdc-card__media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 16px;
    }

    .mdc-card__media--circle > img {
      @include functions.mdc-card-media-circle();
    }

    .mdc-card__media--circle--big > img {
      @include functions.mdc-card-media-circle(96px);
      @media print {
        @include functions.mdc-card-media-circle(15mm);
      }
    }

    .mdc-card__media--circle--small > img {
      @include functions.mdc-card-media-circle(48px);
    }

    .mdc-card__header-texts {

      display: flex;
      flex-direction: column;
      justify-content: center;

      .mdc-typography--subtitle1 {
        color: rgba(0, 0, 0, 0.6);
      }

      .mdc-typography--subtitle2 {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  p {
    margin: 0;
    page-break-inside: avoid;
  }

  .mdc-card__content--padded {
    padding: 8px 16px 8px 16px;
  }

  .mdc-card__feature {

    display: flex;
    flex-direction: row;

    .mdc-card__feature--icon {
      font-family: 'Material Icons', monospace;
      font-style: normal;
      margin-right: 8px;

      > svg {
        height: 17.5px;
        width: 17.5px;
      }
    }

    .mdc-card__feature--text {
      @media print {
        @include mdc-typography.mdc-typography("subtitle2");
      }
    }
  }

  ul.mdc-card__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .mdc-card__action-buttons {
    color: rgba(0, 0, 0, 0.6);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .mdc-card__action-icons {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

}

/**
 * Chips
 */
.mdc-chip {
  // SVG inside the chip icon
  .mdc-chip__icon--fontawesome.mdc-chip__icon--leading {
    margin-left: 0;
    margin-right: 0;

    > svg {
      height: 17.5px;
      width: 17.5px;
    }
  }
}

/**
 * Material Chips
 */
.mdc-chip > a {
  text-decoration: none;
  color: inherit;
}

/**
 * Material Layout Grid
 */
.mdc-layout-grid {
  @media print {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mdc-layout-grid__cell {
    page-break-inside: avoid;
  }
}
/**
 * Material List
 */
.mdc-list {
  .mdc-list-item {
    .mdc-list-item__graphic > svg {
      height: 24px;
      width: 24px;
    }
  }
}

/**
 * Level star rating
 */
.level-stars {
  color: my-theme.$stars-color;
}


