body, html {
  margin: 0;
  padding: 0;
  // Scroll
  scroll-behavior: smooth;
  scroll-padding-top: 72px; // 64px for the top app bar with 8px padding

  @media screen {
    // Drawer below top app bar
    // https://github.com/material-components/material-components-web/tree/master/packages/mdc-drawer#dismissible-drawer-below-top-app-bar
    height: 100vh;
    overflow: auto;
  }
}

#resume {
  display: flex;
  flex-direction: column;
}


// Drawer below top app bar
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-drawer#dismissible-drawer-below-top-app-bar
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing)+.mdc-drawer-app-content {
  @media print {
    margin-left: 0;
  }
}

.main-content {
  @media screen {
    overflow: auto;
    height: 100%;
  }
}

.mdc-top-app-bar {
  // only apply this style if below top app bar
  z-index: 7;
}

// No top app bar when print
.mdc-top-app-bar--fixed-adjust {
  @media print {
    padding-top: 0;
  }
}

// All sections
section {
  .title {
    // Grid with no top or bottom paddings
    padding-top: 0;
    padding-bottom: 0;

    // Title without paddings
    h5 {
      margin: 0;
    }
  }
}
