@use "sass:color";
#page-header {
  position: running(pageHeader);
  text-align: center;
  padding: 7px 0;

  border-width: 1px;
  border-color: color.adjust(lightgreen, $lightness: -70%);
  border-style: solid none solid none;

  background-color: lightgreen;
  color: color.adjust(lightgreen, $lightness: -90%);

  svg {
    height: 12px;
  }
}
