#skills {
  .skill-card {
    .chips {
      padding: 0 4px 8px 4px;
      .mdc-chip {
        @media print {
          height: 24px;
        }
      }
    }
  }
  .mdc-layout-grid.cards .mdc-layout-grid__cell {
    @media print {
      grid-column-end: span 4;
    }
  }
}
