{{#if resume.awards.length}}
    <section id="awards">
        <div class="mdc-layout-grid title">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <span class="mdc-typography--headline5">Awards</span>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {{#each resume.awards}}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell">
                        <div class="award-card mdc-card mdc-card--outlined">
                            <div class="mdc-card__header mdc-card__header--padded">
                                <div class="mdc-card__header-texts">
                                    {{#if title}}<span class="mdc-typography--headline6">{{title}}</span>{{/if}}
                                    {{#if awarder}}<span class="mdc-typography--subtitle1">{{awarder}}</span>{{/if}}
                                </div>
                            </div>
                            <ul class="mdc-card__list mdc-card__content--padded mdc-typography--subtitle1">
                                {{#if date}}
                                    <li class="mdc-card__feature">
                                        <i class="mdc-card__feature--icon">calendar_today</i>
                                        <span class="mdc-card__feature--text">
                                            {{date}}
                                        </span>
                                    </li>
                                {{/if}}
                            </ul>
                                {{#if summary}}
                                <div class="mdc-card__content mdc-card__content--padded mdc-typography--body1">
                                    <p>{{summary}}</p>
                                </div>
                                {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
{{/if}}
