<div id="download-dialog" class="mdc-dialog js-only"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="download-dialog-title"
     aria-describedby="download-dialog-content">
    >
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 id="download-dialog-title" class="mdc-dialog__title">Choose a format</h2>
            <div id="download-dialog-content" class="mdc-dialog__content">
                <ul class="mdc-list">
                    <li class="mdc-list-item" tabindex="0">
                        <span class="mdc-list-item__graphic">
                            {{fontawesome "fa" "FilePdf"}}
                        </span>
                        <span class="mdc-list-item__text">
                            <a href="{{resume.meta.pdfUrl}}" target="_blank" download data-mdc-dialog-action="accept">
                                PDF
                            </a>
                        </span>
                    </li>
                    <li class="mdc-list-item" tabindex="0">
                        <span class="mdc-list-item__graphic">
                            {{fontawesome "fa" "FileCode"}}
                        </span>
                        <span class="mdc-list-item__text">
                            <a href="#"
                               onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)"
                               target="_blank" download="resume.html" data-mdc-dialog-action="accept">
                                HTML
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                    <span class="mdc-button__label">Cancel</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
