<aside class="mdc-drawer js-only mdc-drawer--dismissible mdc-drawer--open mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            {{#if resume.basics}}
                <a class="mdc-list-item mdc-list-item--activated" href="#basics" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
                    <span class="mdc-list-item__text">Basics</span>
                </a>
            {{/if}}
            {{#if resume.work.length}}
                <a class="mdc-list-item" href="#work">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">work</i>
                    <span class="mdc-list-item__text">Work</span>
                </a>
            {{/if}}
            {{#if resume.education.length}}
                <a class="mdc-list-item" href="#education">
                    <i class="mdc-list-item__graphic" aria-hidden="true">
                        {{fontawesome "fa" "GraduationCap"}}
                    </i>
                    <span class="mdc-list-item__text">Education</span>
                </a>
            {{/if}}
            {{#if resume.awards.length}}
                <a class="mdc-list-item" href="#awards">
                    <i class="mdc-list-item__graphic" aria-hidden="true">
                        {{fontawesome "fa" "Award"}}
                    </i>
                    <span class="mdc-list-item__text">Awards</span>
                </a>
            {{/if}}
            {{#if resume.skills.length}}
                <a class="mdc-list-item" href="#skills">
                    <i class="mdc-list-item__graphic" aria-hidden="true">
                        {{fontawesome "fa" "Brain"}}
                    </i>
                    <span class="mdc-list-item__text">Skills</span>
                </a>
            {{/if}}
            {{#if resume.languages.length}}
                <a class="mdc-list-item" href="#languages">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">language</i>
                    <span class="mdc-list-item__text">Languages</span>
                </a>
            {{/if}}
        </nav>
    </div>
</aside>
