{{#with resume.meta.notice }}
    <div id="notice-dialog" class="mdc-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="notice-dialog-title"
         aria-describedby="notice-dialog-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="notice-dialog-title">{{ title }}</h2>
                <div class="mdc-dialog__content" id="notice-dialog-content">
                    {{{ markdown content }}}
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                        <span class="mdc-button__label">OK</span>
                    </button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
{{/with}}
