<div id="page-footer" class="mdc-typography--subtitle1 just-print">
    {{#with resume.meta}}
        {{#if canonical}}
            <a href="{{canonical}}">
                Full version available online at {{canonical}}
            </a>
        {{/if}}
    {{/with}}
</div>
