{{#if resume.skills.length}}
    <section id="skills">
        <div class="mdc-layout-grid title">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <span class="mdc-typography--headline5">Skills</span>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {{#each resume.skills}}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell">
                        <div class="skill-card mdc-card mdc-card--outlined">
                            <div class="mdc-card__header mdc-card__header--padded">
                                <div class="mdc-card__header-texts">
                                    {{#if name}}<span class="mdc-typography--headline6">{{name}}</span>{{/if}}
                                    {{#if level}}
                                        <span class="level-stars">{{levelToStars level}}</span>
                                        <span class="mdc-typography--subtitle1">{{levelDefault level}}</span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="mdc-card__content chips">
                                {{#if keywords.length}}
                                    <div class="mdc-chip-set" role="grid">
                                        {{#each keywords}}
                                            <div class="mdc-chip" role="row">
                                                <div class="mdc-chip__ripple"></div>
                                                <span role="gridcell">
                                                <span role="button" tabindex="0" class="mdc-chip__text">
                                                    {{.}}
                                                </span>
                                                </span>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
{{/if}}
