<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="*"/>
    <title>{{#basics}}{{name}}{{/basics}}</title>
</head>
<body>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<div id="resume">
    {{> basics }}
    {{!> partials/work }}
    {{!> partials/volunteer }}
    {{!> partials/education }}
    {{!> partials/awards }}
    {{!> partials/publications }}
    {{!> partials/skills }}
    {{!> partials/languages }}
    {{!> partials/interests }}
    {{!> partials/references }}
</div>
</body>
</html>
