<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{#basics}}{{name}}{{/basics}}</title>
    <noscript><style>.js-only { display: none !important;}</style></noscript>
</head>
<body>
<div id="resume">
    {{> basics }}
    {{> work }}
    {{!> partials/volunteer }}
    {{> education }}
    {{!> partials/awards }}
    {{!> partials/publications }}
    {{> skills }}
    {{!> partials/languages }}
    {{!> partials/interests }}
    {{!> partials/references }}
</div>
</body>
</html>
