<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{#basics}}{{name}}{{/basics}}</title>
</head>
<body>
<div id="resume">
    {{> basics }}
    {{!> partials/work }}
    {{!> partials/volunteer }}
    {{!> partials/education }}
    {{!> partials/awards }}
    {{!> partials/publications }}
    {{!> partials/skills }}
    {{!> partials/languages }}
    {{!> partials/interests }}
    {{!> partials/references }}
</div>
</body>
</html>
