<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{appTitle resume}}</title>
    <noscript>
        <style>
            .js-only {
                display: none !important;
            }

            #content.mdc-drawer-app-content {
                margin-left: 0;
            }
        </style>
    </noscript>
    {{#if options.printPreview.enabled}}
        <style>
            /** Simulate an A4 sheet **/
            html {
                background-color: gray;
            }

            body {
                background-color: white;
                margin: 0 auto !important;
            }
            body.A3.landscape          { max-width: 420mm }
            body.A3, body.A4.landscape { max-width: 297mm }
            body.A4, body.A5.landscape { max-width: 210mm }
            body.A5                    { max-width: 148mm }
            body.letter, body.legal    { max-width: 216mm }
            body.letter.landscape      { max-width: 280mm }
            body.legal.landscape       { max-width: 357mm }
        </style>
    {{/if}}
</head>
<body class="{{#if options.printPreview.enabled}}{{#if options.printPreview.size}}{{options.printPreview.size}}{{else}}A4{{/if}}{{/if}}">
{{> notice-dialog }}
{{> page-header }}
{{> top-app-bar }}
{{> drawer }}
<div id="content" class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main id="resume" class="main-content">
        {{> basics }}
        {{> work }}
        {{!> partials/volunteer }}
        {{> education }}
        {{> awards }}
        {{!> partials/publications }}
        <!-- quick fix to match my CV contents good printing hehe -->
        <p style="page-break-after: always;">&nbsp;</p>
        {{> projects }}
        {{> skills }}
        {{> languages }}
        {{!> partials/interests }}
        {{!> partials/references }}
    </main>
</div>
{{> page-footer }}
{{> download-dialog }}
</body>
</html>
