<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{appTitle resume}}</title>
    <noscript>
        <style>
            .js-only {
                display: none !important;
            }
            #content.mdc-drawer-app-content {
                margin-left: 0;
            }
        </style>
    </noscript>
</head>
<body>
{{> top-app-bar }}
{{> drawer }}
<div id="content" class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main id="resume" class="main-content">
        {{> basics }}
        {{> work }}
        {{!> partials/volunteer }}
        {{> education }}
        {{> awards }}
        {{!> partials/publications }}
        {{> skills }}
        {{> languages }}
        {{!> partials/interests }}
        {{!> partials/references }}
    </main>
</div>
</body>
</html>
